<div class="copyright">
        <h4>文档信息</h4>
        <ul>
            <li>作者: 
                {% if page.author %}
                    {{page.author}}
                {% else %}
                    {{ site.owner }}
                {% endif %}
                
                {% if page.email %}
                <a href="mailto:{{page.email}}" title="{{page.email}}"><i class="far fa-envelope-open" aria-hidden="true"></i></a> 
                {% else %}
                <a href="mailto:{{site.email}}" title="{{site.email}}"><i class="far fa-envelope-open" aria-hidden="true"></i></a> 
                {% endif %} 
            </li>
            {% assign pageVar = page %}
            {% if post %} {% assign pageVar = post %} {% endif %}
            <li>发表日期： <abbr title="{{pageVar.date | date_to_xmlschema}}">
                {{pageVar.date |  date: "%Y-%m-%d" }}
               </abbr></li>
            <li>版权声明：自由转载-非商用-非衍生-保持署名（<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证</a>）</li>
            <li>若文章中存在事实上的错误，欢迎评论或与作者联系。</li>
        </ul>
</div>
<style type="text/css">
    .copyright{
            margin-top:1em;
            padding:1em;
            border:1px solid #d3d3d3;
            background-color:#DEEBF7;
        }
        
        .copyright h4{
            margin-top: 2px;
            border-bottom:1px solid gray;
            font-size:1.5em;
            font-weight:bold;
            color:#556677;
        }
        
        .copyright ul{
            padding-left:2em;
            padding-right:2em;
        }
        
        .copyright li{
            color:#556677;
        }
</style>
    